<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202729184332-86cnk1hkhcd3mjrf9oghebc75m9dpc3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202729184332-86cnk1hkhcd3mjrf9oghebc75m9dpc3s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>202729184332-htvodq6s59q9votpkghb3986n1n5lg1j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABwjxzK6aTEGe0XH063rhlVsxgUFvoji8</string>
	<key>GCM_SENDER_ID</key>
	<string>202729184332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.everythingflutter.www.millenium</string>
	<key>PROJECT_ID</key>
	<string>corrida-millennium-bim</string>
	<key>STORAGE_BUCKET</key>
	<string>corrida-millennium-bim.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202729184332:ios:ba0def5ad0ef23606328e9</string>
	<key>DATABASE_URL</key>
	<string>https://corrida-millennium-bim.firebaseio.com</string>
</dict>
</plist>